.primary-text {
	color: black;
	transition: color 0.3s;
}

.primary-fill,
:hover.primary-fill-hover,
.primary-before-fill:before,
.primary-after-fill:after {
	background-color: black;
	color: white;
	transition: background-color 0.3s, color 0.3s;
}
.primary-border,
.primary-before-border:before ,
.primary-after-border:after,
.primary-border-focus:focus {
	border-color: black;
	transition: border-color: 0.3s;
}